
.button{
    &.button-blue{
        background-color: #4dcbbc;
        font-family: 'Montserrat', 'nunito';
        font-weight: 700;
        color: #292929;
        border: 1px solid #4dcbbc;
    }
}
.button:disabled,
.button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}