.jumbotron-flex{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
    .anchor-button{
        margin: 20px;
        padding: 20px;
        background: #908f8d;
        color: white;
        border-radius: 10px;
        &.active{
            color: black;
            background: #e2bd8c;
        }
    }
}